.App {
  text-align: center;
}

/* navigation */
.navigation {
  border: 1px solid black;
}

.navigation-item {
  display: inline-block;
  margin: 1% 5%;
}

.active {
  color: forestgreen;
}

/* artist */
.artist-thumbnail {
  height: 150px;
  width: 150px;
}
